{# NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE #}
<!-- CREATE CHILD TEMPLATE FOR "INDEX" PAGE (aka Home Page) -->
<!-- Inherit the Parent page first -->
{% extends "layout.html" %}

<!-- Replace the "placeholder" called head in the parent template with the following -->
{% block head %}
    <title>Customers</title>
    <div class="topnav">
      <a href="/index">Home</a>
      <a class="active" href="/customers">Customers</a>
      <a href="/products">Products</a>
      <a href="/materials">Materials</a>
      <a href="/suppliers">Suppliers</a>
      <a href="/orders">Orders</a>
      <a href="/placeorder">Place Order</a>
    </div>
{% endblock %}

<!-- Replace the "placeholder" called body in the parent template with the following -->
{% block body %}

<!-- NOTE***** NO ACTION OR METHOD - WE ARE JUST USING THE LINKS BELOW-->
<form>
     <H2><u>List of Customers</u></H2>
     <TABLE style="border-collapse: collapse;">
         <TR style="background-color: #D6EEEE;">
            <TH style="padding: 5px; border: solid 1px #777;">Customer ID (Click to Modify)</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Name</TD>
            <TH style="padding: 5px; border: solid 1px #777;">ZIP Code</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Telephone</TD>
            <TH style="padding: 5px; border: solid 1px #777;">E-Mail</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Category</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Delete</TD>
        </TH>
        <!-- EXAMPLES OF THE JINJA LANGUAGE FOR LOOPS-->
         {% for b in message %}
             <TR>
                  <TD style="padding: 5px; border: solid 1px #777;"><a href="{{ url_for('EditFUNCTION', title=b.CustomerID) }}">{{b.CustomerID}}</a></TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.Name}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.ZIP}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.Telephone}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.Email}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.Category}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;"><a href="{{ url_for('deleteFromList', title=b.CustomerID) }}">Delete</a></TD>
             </TR>
         {% endfor %}
     </TABLE>
     <br>
    <a href="/addcustomer" style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Add Customer</a>
</form>




{% endblock %}