{# NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE #}
<!-- CREATE CHILD TEMPLATE FOR "INDEX" PAGE (aka Home Page) -->
<!-- Inherit the Parent page first -->
{% extends "layout.html" %}

<!-- Replace the "placeholder" called head in the parent template with the following -->
{% block head %}
    <title>Materials</title>
    <div class="topnav">
      <a href="/index">Home</a>
      <a href="/customers">Customers</a>
      <a href="/products">Products</a>
      <a class="active" href="/materials">Materials</a>
      <a href="/suppliers">Suppliers</a>
      <a href="/orders">Orders</a>
      <a href="/placeorder">Place Order</a>
    </div>
{% endblock %}

<!-- Replace the "placeholder" called body in the parent template with the following -->
{% block body %}

<!-- NOTE***** NO ACTION OR METHOD - WE ARE JUST USING THE LINKS BELOW-->
<form>
     <H2><u>List of Materials</u></H2>
     <TABLE style="border-collapse: collapse;">
         <TR style="background-color: #D6EEEE;">
            <TH style="padding: 5px; border: solid 1px #777;">SW Part No. (Click to Modify)</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Supplier Part No.</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Supplier ID</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Product Name</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Price</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Quantity Available</TD>
            <TH style="padding: 5px; border: solid 1px #777;">Delete</TD>
        </TH>
        <!-- EXAMPLES OF THE JINJA LANGUAGE FOR LOOPS-->
         {% for b in message %}
             <TR>
                  <TD style="padding: 5px; border: solid 1px #777;"><a href="/EditMaterial/{{b.SWPartNo}}">{{b.SWPartNo}}</a></TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.SupplierPartNo}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.SupplierID}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{b.ProductName}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">${{"{:.2f}".format(b.Price)}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;">{{"{:.2f}".format(b.QuantityAvailable)}}</TD>
                  <TD style="padding: 5px; border: solid 1px #777;"><a href="{{ url_for('deleteMaterialFromList', title=b.SWPartNo) }}">Delete</a></TD>
             </TR>
         {% endfor %}
     </TABLE>
    <br>
    <a href="/addmaterial" style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Add Material</a>

</form>

{% endblock %}