{# NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE NEW FILE #}
{% extends "layout.html" %}

{% block head %}
    <title>Edit BOM:</title>
    <div class="topnav">
      <a href="/index">Home</a>
      <a href="/customers">Customers</a>
      <a class="active" href="/products">Products</a>
      <a href="/materials">Materials</a>
      <a href="/suppliers">Suppliers</a>
      <a href="/orders">Orders</a>
      <a href="/placeorder">Place Order</a>
    </div>
{% endblock %}

{% block body %}

<form action="/EditBOM" method="post">

    <table width="100%">
        <tr>
            <td colspan="3">
                <h1>Edit BOM: {{message[0]['ProductID']}}</h1>
            </td>
        </tr>
    </table>
    {% for m in message %}
            <TABLE style="border-collapse: collapse; width:50%">
            <tr>
                <td style="text-align: left">
                    <input
                    type="hidden"
                    autocomplete="off"
                    autofocus
                    name="SWPartNo"
                    placeholder="SWPartNo"
                    type="text"
                    value="{{m.ProductID}}"
                    required>
                </td>
            </tr>
            <TR>
                <TH style="padding: 5px; border: solid 1px #777; background-color: #D6EEEE;">Part No.</TD>
                <TD style="padding: 5px; border: solid 1px #777;"><input autocomplete="off" autofocus name="PartNo" placeholder="PartNo" value="{{m.PartNo}}" type="text" required></TD>
            </TR>
            <TR>
                <TH style="padding: 5px; border: solid 1px #777; background-color: #D6EEEE;">Quantity</TD>
                <TD style="padding: 5px; border: solid 1px #777;"><input autocomplete="off" autofocus name="Quantity" placeholder="Quantity" value="{{m.Quantity}}" type="integer" required></TD>
             </TR>
        </TABLE>
    {% endfor %}
    <br>
    <input type="submit" style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">


    <!-- END Specific to Movie Add -->


</form>

{% endblock %}