<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <title>{% block title %}{% endblock %}</title>
</head>
<!-- Uses a very similar navbar to the dino site, only uses the B.There option and the Events option. -->
<body class="d-flex flex-column h-100 p-5">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">AutoTrackr</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('events')}}">Events</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  </div>
    <div class="container p-5">
      <main class="flex-shrink-0">
        <div class="container">
          <!-- Here's where the content of the other pages will be put into -->
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
    <!-- Simple footer found on the Bootstrap website. -->
    <div class="container">
      <footer class="footer mt-auto py-3 bg-light">
          <div class="container">
              <span class="text-muted">AutoTrackr Event Management Service. &copy; 2023</span>
          </div>
      </footer>
    </div>
  
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>